<div class="ion-page" id="main-content"></div>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Bienvenido/a, {{ nombreUsuarioCorreo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conte">
    <div class="encuestas">
      <div class="enc" id="encIni">
        <ion-label>Encuesta Antes de usar la App</ion-label>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSelE8yXOXKlEMwDaF8oVE3cAcB75e0JQJvAhHhjKkcvQbCu6g/viewform?usp=sharing">
          <ion-button color="tertiary" shape="round">Click aquí</ion-button>
        </a>
      </div>
      <div class="enc" id="encfin">
        <ion-label>Encuesta Despues de usr la App</ion-label>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScSK1BGW2AFNsgF4PPFHqpWXDR_paMsx78U7u7ErffsOoMhqw/viewform?usp=sharing">
          <ion-button color="tertiary" shape="round">Click aquí</ion-button>
        </a>
      </div>
    </div>
  </div>
  <div class="cont">
    <h2 class="anton">Ejercicios diarios</h2>
    <app-cards-ai
    [backgroundImageUrl]="currentCard?.imagen"
    [cardTitle]="currentCard?.titulo"
    [cardContent]="currentCard?.contenido"                                                                                     
    ></app-cards-ai>
    <app-cards-ai
    [backgroundImageUrl]="secondCard?.imagen"
        [cardTitle]="secondCard?.titulo"
        [cardContent]="secondCard?.contenido"                                                                             
    ></app-cards-ai>

    <h2 class="anton">Recuerdame cuando usar a </h2>

    <ion-item lines="none" class="custom-item">
      <ion-select [(ngModel)]="horaSeleccionada.hora" interface="popover" name="hora" [disabled]="!editable">
        <ion-select-option *ngFor="let hora of horas" [value]="hora" >{{ hora }}</ion-select-option>
      </ion-select >
      <ion-select [(ngModel)]="horaSeleccionada.minuto" interface="popover" name="minuto"  [disabled]="!editable">
        <ion-select-option *ngFor="let minuto of minutos" [value]="minuto">{{ minuto }}</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="horaSeleccionada.ampm" interface="popover" name="ampm"  [disabled]="!editable" (ionChange)="actualizarHorasBola()">
        <ion-select-option value="AM">AM</ion-select-option>
        <ion-select-option value="PM">PM</ion-select-option>
      </ion-select>
    </ion-item>

    
    
    <ion-button expand="default" type="submit" class="but" color="secondary" shape="round" (click)="guardarHorasBola()">Guardar</ion-button>
    
    <ion-button expand="default" type="submit" class="but" color="secondary" shape="round" (click)="editable = !editable">
      {{ editable ? 'Terminar edición' : 'Editar la hora' }}
    </ion-button>
    <br>

    <h2 class="anton">Relajate por 5 minutos más</h2>
    <ion-button (click)="toggleMotores()" [color]="motoresActivados ? 'primary' : 'secondary'" expand="full" shape="round">
      <ion-icon name="{{ motoresActivados ? 'power' : 'power-outline' }}" slot="start"></ion-icon>
      {{ motoresActivados ? 'Encendido' : 'Apagado' }}
    </ion-button>
    <br>

    <h2 class="anton">Bitacora</h2>
    <h4 class="anton">Registra tu estado emocional</h4>


    <ng-container *ngIf="mostrarComponenteAI">
      <app-cards-ai
        [backgroundImageUrl]="sundaycard?.imagen"
        [cardTitle]="sundaycard?.titulo"
        [cardContent]="sundaycard?.contenido"
      ></app-cards-ai>
    </ng-container>


    <ion-datetime locale="es-ES" color="tertiary"></ion-datetime>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="barNav">
    <div class="bar">
      <div class="icon" id="select">
          <div class="bitacora">
            <img src="../../assets/diario.png" alt="" (click)=" irPrincipal()">
          </div>
      </div>
      <div class="icon">
          <div class="chat">
            <img src="../../assets/chatbot.png" alt="" (click)="irChat()">
          </div>
      </div>
      <div class="icon">
          <div class="cuenta">
            <img src="../../assets/usuario.png" alt="" (click)="irAccount()">
          </div>
      </div>
    </div>
  </div>

</ion-footer>
