<div class="ion-page" id="main-content"></div>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Bienvenido/a, {{ nombreUsuarioCorreo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conte">
    <div class="encuestas">
      <div class="enc" id="encIni">
        <ion-label>Encuesta Antes de usar la App</ion-label>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSelE8yXOXKlEMwDaF8oVE3cAcB75e0JQJvAhHhjKkcvQbCu6g/viewform?usp=sharing">
          <ion-button color="tertiary" shape="round">Click aquí</ion-button>
        </a>
      </div>
      <div class="enc" id="encfin">
        <ion-label>Encuesta Despues de usr la App</ion-label>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScSK1BGW2AFNsgF4PPFHqpWXDR_paMsx78U7u7ErffsOoMhqw/viewform?usp=sharing">
          <ion-button color="tertiary" shape="round">Click aquí</ion-button>
        </a>
      </div>
    </div>
  </div>
  <div class="cont">
    <h2 class="anton">Ejercicios diarios</h2>
    <app-cards-ai
    [backgroundImageUrl]="currentCard?.imagen"
    [cardTitle]="currentCard?.titulo"
    [cardContent]="currentCard?.contenido"                                                                                     
    ></app-cards-ai>
    <app-cards-ai
    [backgroundImageUrl]="secondCard?.imagen"
        [cardTitle]="secondCard?.titulo"
        [cardContent]="secondCard?.contenido"                                                                             
    ></app-cards-ai>
    <h2 class="anton">Bitacora</h2>
    <h4 class="anton">Registra tu estado emocional</h4>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Selecciona tu estado de ánimo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="emoji-container">
          <ion-icon
            [ngClass]="{'emoji-selected': estadoAnimo === 'feliz'}"
            name="happy-outline"
            (click)="seleccionarEstadoAnimo('feliz')"
            class="emoji-icon animate__animated animate__zoomIn"
          ></ion-icon>
          <ion-icon
            [ngClass]="{'emoji-selected': estadoAnimo === 'normal'}"
            name="neutral-outline"
            (click)="seleccionarEstadoAnimo('neutral')"
            class="emoji-icon animate__animated animate__zoomIn"
          ></ion-icon>
          <ion-icon
            [ngClass]="{'emoji-selected': estadoAnimo === 'triste'}"
            name="sad-outline"
            (click)="seleccionarEstadoAnimo('triste')"
            class="emoji-icon animate__animated animate__zoomIn"
          ></ion-icon>
        </div>
        <ion-button expand="block" (click)="guardarEstadoAnimo()">Guardar</ion-button>
      </ion-card-content>
    </ion-card>


    <app-alarm></app-alarm>

    <ng-container *ngIf="mostrarComponenteAI">
      <app-cards-ai
        [backgroundImageUrl]="backgroundImageUrlAI"
        [cardTitle]="cardTitleAI"
        [cardContent]="cardContentAI"
      ></app-cards-ai>
    </ng-container>


    <ion-datetime locale="es-ES" color="tertiary"></ion-datetime>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="barNav">
    <div class="bar">
      <div class="icon" id="select">
          <div class="bitacora">
            <img src="../../assets/diario.png" alt="" (click)=" irPrincipal()">
          </div>
      </div>
      <div class="icon">
          <div class="chat">
            <img src="../../assets/chatbot.png" alt="" (click)="irChat()">
          </div>
      </div>
      <div class="icon">
          <div class="cuenta">
            <img src="../../assets/usuario.png" alt="" (click)="irAccount()">
          </div>
      </div>
    </div>
  </div>

</ion-footer>
