.scrollable-card {
    max-height: 500px; /* Altura máxima de la tarjeta */
    overflow-y: auto;
    background-color: #E7D7C9; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
  }
  
  .scrollable-card ion-card-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #D4B2A7 /* Color de fondo para que el encabezado se vea separado del contenido */
  }

  
  :host {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    color: white;
    font-size: 14px;
    width: 90%; /* Ajusta el ancho según sea necesario */
    margin: auto;
  }
  

  .accept-button {
    justify-content: center;
    display: flex;
    font-weight: bold ;
    font-size: 18px;
    color: #D4B2A7;
  }