<ion-content [fullscreen]="true">
  <div class="general">
    <!-- Contenedor general -->
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <div class="texto">
      <ion-label id="titulo">Regístrate en PSICAI</ion-label>
      <div class="contTex">
        <ion-label id="text">Descubre nuestra aplicación e indaga todas sus funcionalidades que te ayudarán con tu estado emocional</ion-label>
      </div>
    </div>
    <div class="text-sub">
      <ion-label>Correo y Contraseña</ion-label>
    </div>

    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <ion-item class="mb-3">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="mb-3">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="terms-checkbox">
        <ion-item>
          <ion-label>Acepto los Términos y Condiciones</ion-label>
          <ion-checkbox formControlName="terms" slot="start"></ion-checkbox>
        </ion-item>
      </div>
      <div class="button-container">
        <ion-button class="boton" shape="round" type="submit" color="tertiary" [disabled]="!formReg.get('terms')?.value">Registrarse</ion-button>
      </div>
    </form>

    <!-- Componente app-card-slide solo se muestra si se aceptan los términos y condiciones -->
    <app-card-slide *ngIf="formReg.get('terms')?.value"></app-card-slide>

    <!-- Enlace a Términos y Condiciones -->
    <div class="terms-button-container">
      <a (click)="openTermsPage()">Términos y Condiciones</a>
    </div>
  </div>
</ion-content>