@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}
/* datos.component.scss */
ion-content {
    --background: linear-gradient(to bottom, var(--ion-background-color), #E7D7C9);
    --ion-background-color:  #E7D7C9;
    background-color: #5c5a5a;
    width: 100%;
    vertical-align: middle;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cont
  {
    display: flex;
    justify-content: center;
  }
  .logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    background: #4697B4;
    background: transparent;
  }
  
  img{
    border-radius: 100%;
    width: 70%;
  }
  .textos{
    justify-content: flex-start;
    text-align: left;
    color: #A38F85;
  }
  #titulo{
    font-family: "Sedan", serif;
    font-size: 40px;
    margin-bottom: 10px;
    color: #D4B2A7;
  }
  #subtitulo{
    font-size: 25px;
    color: #A38F85;
  }
  
  
  .form-container {
    margin: 0px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    margin-top: 10%;
    overflow: hidden;
  }
  
  
  form {
    background: #EDE9E3;
    border-radius: 15px;
  
    padding: 25px;
    ion-list {
      background: #EDE9E3;
      font-size: 30px;
      border-radius: 10px;
      overflow: hidden;
      
  
      ion-item {
        border: 3px solid #ffffff;
        margin-bottom: 15px;
        margin-top: 20px ;
        border-radius: 15px;
        height: 70px;
        --background: var(--ion-background-color);
  
        ion-select,
        ion-input {
          color: #ffffff;
          --border-color: #ccc;
          height: 60px;
        }
      }
    }
  }
  ion-input{
    font-size: 30px;
  }
    
    
  .botones{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .but{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    flex-shrink: 0;
    width: 45%;
    height: 60px;
    position: relative;
  }
    
  
  
  .nacimientoText{
    color: #A38F85;
    margin-bottom: 15px;
  }
  .nameText{
    font-size: 13px;
    
  }
  .color{
    color: #D4B2A7;
  }
  
  .checkbox-group {
    margin-bottom: 10px;
  }
  
  .datos-list-item {
    color: #E7D7C9; /* Cambia esto al color de texto que desees */
  }
  
  
  
  
  @media (max-width: 512px) {
    .form-container {
      width: 100%;
    }
  }
  .gene{
    color: #D4B2A7;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }
  #mas{
    margin-top: 10px;
    margin-left: 10px;
  }
  #fem{
    margin-top: 10px;
    margin-left: 10px;
  }