@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');


//estos son los estilos que se les dara a cada uno de los elementos que estan en el html
//los que estan con puntos son de clases, los que estan con # son de id, y los que no tienen nd al comienzo son de las etiquetas 

*{//el asterisco es para dar estilos generales
  font-family: "Montserrat", sans-serif;
}

ion-content {
  --background: linear-gradient(to bottom, #E7D7C9, var(--ion-background-color));
  --ion-background-color:  #EDE9E3;
  background-color: #5c5a5a;
  width: 100%;
  vertical-align: middle;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general{
  display: grid;
  align-content: space-between;
  justify-content: center;
  margin-top: 20%;
}
.logo{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

img{
  border-radius: 100%;
  width: 70%;
  max-width: 400px;
}

.texto{
  font-size: 20px;
  text-align: center;
  color: #D4B2A7;
  
}

#titulo{
  color: var(--color-grey-900, #D4B2A7);
  text-align: center;
  font-family: "Sedan", serif;
  font-size: var(--heading-h-4-font-size, 24px);
  line-height: var(--heading-h-4-line-height, 130%);
  font-weight: var(--heading-h-4-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.comenzar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.boton{
  background: #D4B2A7;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}

.iSesionCon{
  display: grid;
  align-items: center;
  justify-content: center;
}

.or {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.rectangle-2 {
  background: var(--color-grey-200, #A38F85);
  border-radius: 50px;
  flex: 1;
  height: 1px;
  position: relative;
}
.inicia-con {
  color: var(--color-grey-500, #CDC6C3);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--body-medium-regular-font-size, 14px);
  line-height: var(--body-medium-regular-line-height, 165%);
  font-weight: var(--body-medium-regular-font-weight, 400);
  position: relative;
}

.rectangle-1 {
  background: var(--color-grey-200, #A38F85);
  border-radius: 50px;
  flex: 1;
  height: 1px;
  position: relative;
}

a{
  text-decoration:  none;
  color: #836657;
}



.typewriter {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word; /* Permite que las palabras largas se ajusten a varias líneas */
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
}

.typewriter h1 {
  color: var(--color-secondary-400, #A38F85);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--body-medium-regular-font-size, 14px);
  line-height: var(--body-medium-regular-line-height, 160%);
  font-weight: var(--body-medium-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  overflow: hidden; /* Asegura que el contenido no se revele hasta que comience la animación */
  border-right: .15em solid orange; /* Cursor de la máquina de escribir */
  white-space: nowrap; /* Mantiene el contenido en una sola línea */
  margin: 0 auto; /* Da un efecto de desplazamiento mientras se escribe */
  letter-spacing: .15em; /* Ajusta según sea necesario */
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* Efecto de escritura */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* Efecto del cursor de la máquina de escribir */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}