<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cont">

    <!-- Sección de foto de perfil -->
    <ion-card class="box" id="fotoPerfil">
      <ion-card-header>
        <ion-card-title><b>Foto de Perfil</b></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-avatar ><!--  (click)="cambiarFotoPerfil()"-->
          <img id="imgfp" src="../../assets/user.png" alt="">
        </ion-avatar>
      </ion-card-content>
    </ion-card>

    <!-- Sección de detalles de la cuenta -->
    <ion-card class="box" id="detallesCuenta">
      <ion-card-header>
        <ion-card-title><b>Detalles de la Cuenta</b></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked" class="tamañoLetra">Nombre:</ion-label>
          <ion-text>{{ nombreUsuario }}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label  position="stacked" class="tamañoLetra">Correo electrónico:</ion-label>
          <ion-text> {{ userEmail }} </ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label  position="stacked" class="tamañoLetra">Género:</ion-label>
          <ion-text>{{ genero }}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label  position="stacked" class="tamañoLetra">Fecha de Nacimiento:</ion-label>
          <ion-text>{{Nacimiento}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label  position="stacked" class="tamañoLetra" >Edad:</ion-label>
          <ion-text>{{edad}}</ion-text>
        </ion-item>
        <ion-item>
        </ion-item>
        <!-- Añade otros detalles según sea necesario -->
      </ion-card-content>
    </ion-card>

    <!-- Opciones de cuenta -->
    <ion-card class="box" id="opcionesCuenta">
      <ion-card-header>
        <ion-card-title><b>Opciones de la Cuenta</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button button color="success" shape="round" href="tel:+593989681295
        "><!-- (click)="cerrarSesion()" -->
          <ion-label>AYUDA</ion-label>
        </ion-button>
        <ion-button button color="secondary" shape="round" href="http://vibe-rise.com/">
          <ion-label>SABER MÁS</ion-label>
        </ion-button>
        <ion-button button color="danger" shape="round"><!-- (click)="cerrarSesion()" -->
          <ion-label (click)="logout()">Cerrar Sesión</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="barNav">
    <div class="bar">
      <div class="icon">
          <div class="bitacora">
            <img src="../../assets/diario.png" alt="" (click)=" irPrincipal2()">
          </div>
      </div>
      <div class="icon">
          <div class="chat">
            <img src="../../assets/chatbot.png" alt="" (click)="irChat()">
          </div>
      </div>
      <div class="icon" id="select">
          <div class="cuenta">
            <img src="../../assets/usuario.png" alt="" (click)="irAccount()">
          </div>
      </div>
    </div>
  </div>

</ion-footer>
