@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
/* Contenido */
ion-content {
    --background: linear-gradient(to bottom, var(--ion-background-color), #EDE9E3);
    --ion-background-color: #E7D7C9;
    background-color: #5dbba7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra de herramientas */
ion-toolbar {
    --background: #E7D7C9;
    border-radius: 20px;
    font-family: "Sedan", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.cont {
    background: linear-gradient(to bottom, #EDE9E3, #E7D7C9);
    width: 90%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    color: #000000;
}

/* Tarjetas */
.box {
    background-color: #D4B2A7;
    margin: 5%;
    width: 90%;
    height: auto;
    padding: 7px;
    border-radius: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Tarjetas específicas */
#detallesCuenta,
#opcionesCuenta {
    background-color: #D4B2A7;
}

/* Contenido de tarjetas */
ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    height: auto;
}
ion-avatar{
    width: auto;
}
b{
    font-family: "Sedan", serif;
    color: #A38F85;
}
/* Etiquetas de ion-label */
ion-label {
    --background: rgba(138, 217, 210, 0);
    padding-right: 2%;
    padding-left: 2%;
    white-space: inherit;
    text-align: start;
    display: block; /* Cambia a bloque */
    margin-bottom: 5px; /* Espacio entre etiqueta y contenido */; 
}

ion-text {
    display: block; /* Cambia a bloque */
    margin-bottom: 15px; /* Espacio entre cada línea de texto */
}


ion-button {
    width: 250px; /* Valor alto para hacerlo circular */
    height: 75px;
    display: block; /* Hace que cada botón ocupe todo el ancho */
    margin-bottom: 10px; /* Espacio entre cada botón */
    border-radius: 10px; /* Redondea las esquinas de los botones */
    padding: 10px; /* Espacio interior del botón */
    color: white; /* Color del texto del botón */
    text-align: center; /* Centra el texto del botón */
}
/* Botones de las tarjetas */
ion-item {
    width: 100%;
    text-align: start;
    --background: #D4B2A7;
    margin: 5px;
    --border-style: none; /* Establece el estilo del borde en 'none' */
}

/* Barra de navegación */
ion-footer {
    --ion-background: #5dbba7;
}
#imgfp{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
img {
    width: 40px;
    height: 40px;
}

/* Contenedor de la barra de navegación */
.barNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra de navegación */
.bar {
    width: 65%;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border: solid 2px #F1E6D2;
    border-radius: 35px;
}

/* Iconos de la barra de navegación */
.icon {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de los iconos seleccionados */
#select {
    background-color: #D4B2A7;
}

.tamañoLetra{
    font-size: 20px;
    font-weight: bold ;
}